# Regressions to get most significant words for each dimension

## Import the relevant libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression


from sklearn.feature_selection import f_regression
from sklearn.preprocessing import StandardScaler

In [2]:
Scaler = StandardScaler()
sns.set ()

## Import data from previous processing

In [3]:
raw_data = pd.read_csv('Data for Clustering - Density.txt')
raw_data.drop('Partido', axis = 1, inplace=True)
raw_data

,Count_Words,Count_Different,abandono escolar,acesso,administração pública,animal,apoio,atingir objetivos desenvolvimento,através,aumento,...,sobre,social,socialismo,também,tem,todo,trabalhar,é,é essencial,é necessário
0,38763,101,103.191187,2605.577484,361.169156,1083.507468,2863.555452,0.00000,1754.250187,2631.375281,...,3431.106983,6243.066842,0.000000,2012.228156,3921.265124,4127.647499,3998.658515,8719.655341,51.595594,438.562547
1,1876,82,0.000000,1066.098081,0.000000,0.000000,4264.392324,0.00000,533.049041,2132.196162,...,2665.245203,6396.588486,0.000000,1599.147122,1599.147122,7995.735608,1599.147122,5863.539446,533.049041,0.000000
2,2309,86,0.000000,2165.439584,0.000000,0.000000,1299.263751,0.00000,2165.439584,2165.439584,...,1732.351667,16024.252923,7362.494586,433.087917,433.087917,2598.527501,1299.263751,5630.142919,0.000000,0.000000
3,102905,108,524.755843,3167.970458,1098.100189,437.296536,1613.138331,0.00000,1826.927749,2332.248190,...,3488.654584,3294.300568,29.153102,2895.874836,4888.003498,3955.104222,1992.128662,11282.250620,553.908945,719.109859
4,20294,102,0.000000,3449.295358,788.410368,2463.782399,3252.192766,0.00000,5814.526461,1379.718143,...,3055.090174,6356.558589,49.275648,1921.750271,1823.198975,7687.001084,4730.462206,3991.327486,147.826944,591.307776
5,31879,103,94.105838,2572.226230,564.635026,9096.897644,3293.704319,972.42699,2446.751780,1976.222592,...,2603.594843,3732.864895,0.000000,1693.905079,3105.492644,7748.047304,2666.332068,5803.193325,345.054738,501.897801
6,28417,104,70.380406,2287.363198,1126.086498,0.000000,3167.118274,0.00000,3624.590914,2604.075026,...,1618.749340,5982.334518,0.000000,1513.178731,3976.492944,3413.449696,2041.031777,9958.827462,175.951015,527.853046
7,32349,100,30.912857,3184.024236,1916.597113,123.651427,5564.314198,0.00000,4853.318495,2658.505673,...,1576.555690,6151.658475,0.000000,2318.464249,1143.775696,4915.144208,3462.239946,4204.148505,340.041423,247.302853
8,38165,106,26.202018,1807.939211,1100.484737,288.222193,3118.040089,0.00000,3196.646142,2174.767457,...,1755.535176,6183.676143,0.000000,3458.666317,4742.565178,3904.100616,1912.747282,10323.594917,157.212105,733.656492

In [4]:
DataMDS = pd.read_csv('MDS Data.txt')
DataMDS.drop('Unnamed: 0', axis = 1, inplace=True)
DataMDS

,Partido,1Dimension1,2Dimension1,2Dimension2,3Dimension1,3Dimension2,3Dimension3,4Dimension1,4Dimension2,4Dimension3,4Dimension4
0,BE,0.064226,0.054445,-0.093489,-8913.282819,-2173.669518,-5034.938215,-0.003640,-0.058979,-0.060315,-0.009910
1,CDS,-0.330400,0.011028,0.368967,35020.375171,-15737.401526,8478.044509,-0.093511,0.206752,0.214273,-0.185333
2,CH,-0.442438,-0.266686,0.293162,26340.146651,11825.257000,32657.601003,0.131538,0.368846,0.015075,-0.035442
3,IL,0.675326,-0.081173,-0.660466,-45789.302299,24676.065206,-49293.153439,0.296544,-0.540314,-0.237786,0.013046
4,Livre,-0.142297,0.162060,0.147118,-1966.500711,-17246.563708,16054.718728,-0.133182,0.133359,-0.004095,0.121961
5,PAN,-0.036363,0.160185,-0.018627,-1144.548716,-13665.513079,-5578.053152,-0.113172,0.009424,-0.083140,-0.033657
6,PCP,0.008233,-0.044763,0.017881,5874.610655,3570.057251,-744.805911,-0.002149,0.002296,0.086587,0.042565
7,PS,0.079967,0.050517,0.012667,-7300.971704,1616.189513,8432.895454,-0.109330,-0.055750,0.041455,0.029516
8,PSD,0.123747,-0.045613,-0.067212,-2120.526229,7135.578860,-4972.308977,0.026902,-0.065635,0.027945,0.057254

In [5]:
OutputLinearRegression = pd.DataFrame(columns = DataMDS.columns)
OutputLinearRegression.drop('Partido', axis = 1, inplace=True)
OutputLinearRegression['Words'] = raw_data.columns
OutputLinearRegression

,1Dimension1,2Dimension1,2Dimension2,3Dimension1,3Dimension2,3Dimension3,4Dimension1,4Dimension2,4Dimension3,4Dimension4,Words
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Words
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Count_Different
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,abandono escolar
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,acesso
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,administração pública
...,...,...,...,...,...,...,...,...,...,...,...
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,todo
119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,trabalhar
120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,é
121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,é essencial
122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,é necessário

## Execute Regression

In [6]:
x = raw_data

for i in range(10):
    y = DataMDS[DataMDS.columns[i+1]]
    reg = LinearRegression(fit_intercept=False)
    reg.fit(x,y)
    OutputLinearRegression[DataMDS.columns[i+1]] = reg.coef_
    print(DataMDS.columns[i+1], 1000000*(1-reg.score(x,y)))

1Dimension1 0.0
2Dimension1 0.0
2Dimension2 0.0
3Dimension1 0.0
3Dimension2 0.0
3Dimension3 0.0
4Dimension1 0.0
4Dimension2 0.0
4Dimension3 0.0
4Dimension4 0.0

## Print Regression Results

In [7]:
for i in range(10):
    print([DataMDS.columns[i+1]])
    ToPrint = OutputLinearRegression[['Words', DataMDS.columns[i+1]]].sort_values(by=DataMDS.columns[i+1],ascending=True)
    ToPrint = ToPrint.sort_values(by=DataMDS.columns[i+1],ascending=True)
    print(ToPrint)
    #print(OutputLinearRegression[['Words', DataMDS.columns[i+1]]])
    print("\n")

['1Dimension1']
           Words  1Dimension1
67           não    -0.000004
32       direito    -0.000004
5         animal    -0.000004
92       público    -0.000004
30       direita    -0.000004
..           ...          ...
52        gestão     0.000001
36       empresa     0.000001
116       também     0.000002
88      programa     0.000002
0    Count_Words     0.000009

[123 rows x 2 columns]


['2Dimension1']
         Words  2Dimension1
30     direita    -0.000004
83   português    -0.000003
33    economia    -0.000003
80    política    -0.000002
85   princípio    -0.000002
..         ...          ...
51    garantia     0.000003
92     público     0.000003
118       todo     0.000003
5       animal     0.000005
32     direito     0.000005

[123 rows x 2 columns]


['2Dimension2']
                           Words   2Dimension2
0                    Count_Words -8.824586e-06
44                         euros -2.623387e-07
117                          tem -1.571124e-07
94          questões  frequentes -1.147098e-07
50   forças  serviços  segurança -1.033997e-07
..                           ...           ...
17                   compromisso  2.219816e-06
89                      promover  2.351683e-06
58                          mais  2.425992e-06
118                         todo  2.457727e-06
92                       público  3.241219e-06

[123 rows x 2 columns]


['3Dimension1']
           Words  3Dimension1
0    Count_Words    -0.686347
90      proposta    -0.227444
88      programa    -0.224865
106      serviço    -0.128820
89      promover    -0.105878
..           ...          ...
120            é     0.286150
17   compromisso     0.341412
105          ser     0.348057
58          mais     0.380100
67           não     0.404133

[123 rows x 2 columns]


['3Dimension2']
           Words  3Dimension2
5         animal    -0.498051
32       direito    -0.488380
118         todo    -0.366711
92       público    -0.320665
51      garantia    -0.319212
..           ...          ...
26        defesa     0.149036
33      economia     0.221630
83     português     0.226303
30       direita     0.248502
0    Count_Words     0.374835

[123 rows x 2 columns]


['3Dimension3']
           Words  3Dimension3
0    Count_Words    -0.563750
17   compromisso    -0.267803
105          ser    -0.249847
67           não    -0.229855
120            é    -0.153264
..           ...          ...
88      programa     0.312705
90      proposta     0.329060
89      promover     0.351280
114       social     0.373218
92       público     0.385860

[123 rows x 2 columns]


['4Dimension1']
           Words  4Dimension1
92       público    -0.000003
5         animal    -0.000003
88      programa    -0.000003
22         criar    -0.000003
89      promover    -0.000003
..           ...          ...
115   socialismo     0.000002
43        estado     0.000002
83     português     0.000002
30       direita     0.000004
0    Count_Words     0.000004

[123 rows x 2 columns]


['4Dimension2']
           Words   4Dimension2
0    Count_Words -7.302100e-06
17   compromisso -8.484374e-07
36       empresa -8.317989e-07
89      promover -7.360753e-07
106      serviço -6.228950e-07
..           ...           ...
32       direito  2.610201e-06
30       direita  2.618368e-06
5         animal  2.681542e-06
114       social  3.083882e-06
90      proposta  3.336555e-06

[123 rows x 2 columns]


['4Dimension3']
           Words  4Dimension3
0    Count_Words    -0.000004
5         animal    -0.000003
30       direita    -0.000002
32       direito    -0.000002
100        saúde    -0.000002
..           ...          ...
14       cidadão     0.000002
89      promover     0.000002
17   compromisso     0.000003
36       empresa     0.000003
58          mais     0.000005

[123 rows x 2 columns]


['4Dimension4']
              Words  4Dimension4
17      compromisso    -0.000005
67              não    -0.000002
43           estado    -0.000002
16         combater    -0.000002
44            euros    -0.000002
..              ...          ...
47            forma     0.000002
27  desenvolvimento     0.000002
33         economia     0.000002
8           através     0.000003
90         proposta     0.000007

[123 rows x 2 columns]